<center>

## **MOOC's**
**(Massive - Open - Online -Courses)**<br>
**ETL**<br>
**_PROYECTO INDIVIDUAL 2_**<br>

</center>

**Data Analyst (DA)**<br>
**Data Scientis:** _Ilbert Ferney Alarcon_ üòé<br>
**Cohorte 11**<br>

--------------

## Resumen

En este proyecto, nos enfrentamos al desaf√≠o de analizar datos de competidores en el mercado de cursos en l√≠nea (MOOCs) para ayudar a una startup de tecnolog√≠a a ingresar de manera eficiente a este sector. Los MOOCs han ganado popularidad en los √∫ltimos a√±os, con plataformas como Udacity, edX y Coursera ofreciendo acceso a contenido educativo de calidad de forma pr√°ctica y desde la comodidad del hogar. El objetivo principal es segmentar el nivel de ventas de los cursos en funci√≥n del precio, idioma, nivel y calificaci√≥n, con el fin de comprender c√≥mo estas variables influyen en la demanda del producto. Para lograr esto, utilizaremos datasets de competidores para realizar un an√°lisis exhaustivo y extraer conclusiones relevantes.

Al analizar los datos, nos ayudar√° a determinar qu√© enfoques y estrategias podr√≠an ser m√°s efectivos para captar y retener clientes en este mercado altamente competitivo. Con estos conocimientos, la startup podr√° ajustar su modelo de negocio y contenido de manera m√°s precisa, para maximizar sus oportunidades de √©xito en el mercado de cursos online.

Importar librerias

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from langdetect import detect
import re
import session_info
import ydata_profiling as pp
from wordcloud import WordCloud

d:\_DATA SCIENTIST\PI_DA_02\.venv\lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
d:\_DATA SCIENTIST\PI_DA_02\.venv\lib\site-packages\visions\backends\shared\nan_handling.py:51: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def hasna(x: np.ndarray) -> bool:

Importar datos de Datasets entregados

In [2]:
coursera_df =pd.read_csv(r'DATASETS\Coursera_courses.csv',encoding='utf-8')
coursera_rewdf =pd.read_csv(r'Datasets\Coursera_reviews.csv',encoding='utf-8')
edx_df=pd.read_csv(r'DATASETS\edx_courses.csv',encoding='utf-8')
udemy_df=pd.read_csv(r'DATASETS\udemy_courses.csv',sep=',', encoding='utf-8')

### Coursera

In [3]:
coursera_df.head(2)

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada

Diccionario de columnas del dataframe **_`Coursera_courses.csv`_**.

<center>

| **Caracter√≠stica** | **Descripci√≥n** |
| :----------------: | :-------------:|
|reviews|_Rese√±as de los suscriptores_|
|reviewers|_Nombre del suscriptor_|
|date_reviews|_Fecha de la rese√±a_|
|rating|_Valoracion de la rese√±a (de 1 a 5)_|
|course_id|_Id del curso_|


<center>

In [4]:
print(coursera_df.shape)
print()
print(coursera_df.info())

(623, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 623 entries, 0 to 622
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         623 non-null    object
 1   institution  623 non-null    object
 2   course_url   623 non-null    object
 3   course_id    623 non-null    object
dtypes: object(4)
memory usage: 19.6+ KB
None

üëÜ Como se Observa no tenemos valores vacios en este Dataset

In [5]:
coursera_rewdf.head(2)

,reviews,reviewers,date_reviews,rating,course_id
0,"Pretty dry, but I was able to pass with just t...",By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training

Diccionario de columnas del dataframe **_`Coursera_reviews.csv`_**.

<center>

| **Caracter√≠stica** | **Descripci√≥n** |
| :----------------: | :-------------:|
|reviews|_Rese√±as de los suscriptores_|
|reviewers|_Nombre del suscriptor_|
|date_reviews|_Fecha de la rese√±a_|
|rating|_Valoracion de la rese√±a (de 1 a 5)_|
|course_id|_Id del curso_|


<center>

In [6]:
print(coursera_rewdf.shape)
print()
print(coursera_rewdf.info())

(1454711, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB
None

üëÜ Aqui si identificamos que la columna "reviews" tiene espacios vacios

### EDX

In [7]:
edx_df.head(2)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2‚Äì3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2‚Äì4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...

Diccionario de columnas del dataframe **_`edx_courses.csv`_**.

<center>

| **Caracter√≠stica** | **Descripci√≥n** |
| :----------------: | :-------------:|
|title|_Titulo del curso_|
|summary|_Resumen de lo que trata el curso_|
|n_enrolled|_Alumnos inscritos_|
|course_type|_Dos tipos: Dirigido por un instructor en un horario de curso / A su propio ritmo en su tiempo_|
|istitution|_Nombre de la instituci√≥n que lo ofrece_|
|instructors|_Nombre de los instructores del curso_|
|Level|_Grado de dificultad del curso_|
|subject|_√Årea a la que pertenece el curso_|
|language|_Idioma del curso_|
|subtitles|_Subtitulos del curso_|
|course_effort|_Intesidad del curso por semana_|
|course_length|_Duraci√≥n del curso_|
|price|_Precio del curso en USD_|
|course_description|_Descripcion del curso_|
|course_syllabus|_Temario del curso_|
|course_url|_Link del curso_|



<center>

In [8]:
print(edx_df.shape)
print()
print(edx_df.info())

(975, 16)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB
None

üëÜ Se identifica que las columnas 'course_syllabus, 'n_enrolled','summary','course_description','instructors' y 'subtitles' tienen espacios vacios

### Udemy

In [9]:
udemy_df.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance

Diccionario de columnas del dataframe **_`udemy_courses.csv`_**.

<center>

| **Caracter√≠stica** | **Descripci√≥n** |
| :----------------: | :-------------:|
|course_id|_Id del curso_|
|course_title|_Titulo del curso_|
|url|_Link del curso_|
|is_paid|_Si el curso es pago o no_|
|price|_Precio del curso en USD_|
|num_subscribers|_N√∫mero de estudiantes inscritos_|
|num_reviews|_N√∫mero de rese√±as del curso_|
|num_lectures|_Lecturas del curso_|
|level|_Nivel de dificultad del curso_|
|content_duration|_Duracion del curso en horas_|
|published_timestamp|_Fecha de publicaci√≥n del curso_|
|subject|_√Årea a la que pertenece el curso_|

<center>

In [10]:
print(udemy_df.shape)
print()
print(udemy_df.info())

(3678, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB
None

üëÜ Como se Observa no tenemos valores vacios en este Dataset

## Un ETL Rapido para identificar fallas en los datos ‚ö°

### Coursera

üí° Recordemos que el Dataset Coursera_courses.csv no tiene valores vacios

In [11]:
coursera_df['course_id'].value_counts(ascending=False)

machine-learning                             1
english-composition                          1
wharton-communication-skills                 1
introduction-trading-machine-learning-gcp    1
python-programming-introduction              1
                                            ..
solar-energy-basics                          1
bootstrap-4                                  1
google-cloud-java-spring                     1
forensic-science                             1
data-science-course                          1
Name: course_id, Length: 623, dtype: int64

üëÜ No tenemos valores duplicados filtrados por la columna 'course_id'

üëá Identificamos que la informacion de Cousera no tiene asociado el lenguaje del curso, el cual para este caso se identificara con la comlumna 'name' y veremos como se relaciona con el resto de Datos.

In [12]:
def detectar_idioma(texto):
    try:
            lang = detect(texto)
            if lang == 'en':
                return 'English'
            elif lang == 'es':
                return 'Spanish'
            elif lang == 'de':
                return 'Deutsch'
            elif lang == 'fr':
                return 'French'
            elif lang == 'it':
                return 'Italian'
            elif lang == 'pt':
                return 'Portuguese'
            elif lang == 'ar':
                return 'Arabic'
            elif lang == 'zh':
                return 'Chinese'
            elif lang == 'ja':
                return 'Japanese'
            elif lang == 'ru':
                return 'Russian'
            else:
                return 'English'
    except:
        return 'Other'

In [13]:
coursera_df['language']=coursera_df['name'].apply(detectar_idioma)

In [14]:
coursera_df.head(5)

,name,institution,course_url,course_id,language
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning,English
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada,Spanish
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being,English
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals,English
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing,https://www.coursera.org/learn/google-cbrs-cpi...,google-cbrs-cpi-training,English

üëá Eliminamos la Columna de 'course_url' ya que nos nos servira en el analisis realizado en Power Bi

In [15]:
coursera_df.drop(['course_url'], axis=1, inplace=True)

Para finalizar exportamos la tabla en formato csv para luego ser importada a Power Bi

In [16]:
coursera_df.to_csv('DATASETS\_ETL_COUSERA.csv',index=False,sep='|')

### Coursera Reviews

üí° Recordamos que la columna "reviews" tiene espacios vacios

In [17]:
coursera_rewdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1454711 entries, 0 to 1454710
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   reviews       1454571 non-null  object
 1   reviewers     1454711 non-null  object
 2   date_reviews  1454711 non-null  object
 3   rating        1454711 non-null  int64
 4   course_id     1454711 non-null  object
dtypes: int64(1), object(4)
memory usage: 55.5+ MB

In [18]:
(coursera_rewdf.isnull().sum().sort_values(ascending=False))

reviews         140
reviewers         0
date_reviews      0
rating            0
course_id         0
dtype: int64

Como el item de Reviews en una variable categorica la cual el valor NaN solo indica "Sin Rese√±a" por lo tanto los campos nulos se llenaran con estos valores

In [19]:
coursera_rewdf['reviews'].fillna('sin rese√±a', inplace=True)

Normalizaicon de Palabras en la columna Review

In [20]:
def remove_special_characters(text):
    # Patr√≥n de expresi√≥n regular para encontrar caracteres especiales
    pattern = r'[^a-zA-Z0-9\s]'
    
    # Remover los caracteres especiales utilizando el patr√≥n
    cleaned_text = re.sub(pattern, '', text)
    
    return cleaned_text

In [21]:
# Aliminamos espacios al inicio o final de reviews
coursera_rewdf["reviews"] = coursera_rewdf["reviews"].str.lstrip()
coursera_rewdf["reviews"] = coursera_rewdf["reviews"].str.rstrip()

#eliminamos caracteres especiales al principio y final 
coursera_rewdf["reviews"] = coursera_rewdf["reviews"].apply(remove_special_characters)

#Convertimos la columna en minusculas
coursera_rewdf["reviews"] = coursera_rewdf["reviews"].str.lower()

Se revisan valores duplicados en los comentarios

In [22]:
coursera_rewdf['reviewers'].value_counts(ascending=False)

By Deleted A     5412
By Muhammad A     649
By Abhishek S     440
By David M        435
By Michael S      431
                 ...
By Calvin N         1
By Kachan O V       1
By Tan S X A        1
By Yusong S         1
By Yu-Jhen-Wu       1
Name: reviewers, Length: 287808, dtype: int64

In [23]:
concatenado= pd.DataFrame({'concatenated_col': coursera_rewdf['course_id'] + ' ' + coursera_rewdf['reviewers'] + ' ' + coursera_rewdf['date_reviews'] + ' ' + coursera_rewdf['reviews']})
coursera_rewdf['concatenated_col'] = concatenado['concatenated_col']
coursera_rewdf.head(5)

,reviews,reviewers,date_reviews,rating,course_id,concatenated_col
0,pretty dry but i was able to pass with just tw...,By Robert S,"Feb 12, 2020",4,google-cbrs-cpi-training,"google-cbrs-cpi-training By Robert S Feb 12, 2..."
1,would be a better experience if the video and ...,By Gabriel E R,"Sep 28, 2020",4,google-cbrs-cpi-training,google-cbrs-cpi-training By Gabriel E R Sep 28...
2,information was perfect the program itself was...,By Jacob D,"Apr 08, 2020",4,google-cbrs-cpi-training,"google-cbrs-cpi-training By Jacob D Apr 08, 20..."
3,a few grammatical mistakes on test made me do ...,By Dale B,"Feb 24, 2020",4,google-cbrs-cpi-training,"google-cbrs-cpi-training By Dale B Feb 24, 202..."
4,excellent course and the training provided was...,By Sean G,"Jun 18, 2020",4,google-cbrs-cpi-training,"google-cbrs-cpi-training By Sean G Jun 18, 202..."

se evidencian que hay reviews que se duplican no solo por couse_id (lo cual puede ser posible) sin embargo con somentarios repetidos por 'reviewers', por lo cual se procederan a eliminar

In [24]:
coursera_rewdf[coursera_rewdf['concatenated_col'].duplicated(keep=False)].sort_values(by='reviewers')

,reviews,reviewers,date_reviews,rating,course_id,concatenated_col
818738,it was really great experience,By \t M N H,"Sep 02, 2020",5,grammar-punctuation,"grammar-punctuation By \t M N H Sep 02, 2020 i..."
818713,it was really great experience,By \t M N H,"Sep 02, 2020",5,grammar-punctuation,"grammar-punctuation By \t M N H Sep 02, 2020 i..."
818688,it was really great experience,By \t M N H,"Sep 02, 2020",5,grammar-punctuation,"grammar-punctuation By \t M N H Sep 02, 2020 i..."
301748,this course is amazing python is so easy langu...,By \t M R I,"Sep 15, 2020",5,python-data,"python-data By \t M R I Sep 15, 2020 this cour..."
301773,this course is amazing python is so easy langu...,By \t M R I,"Sep 15, 2020",5,python-data,"python-data By \t M R I Sep 15, 2020 this cour..."
...,...,...,...,...,...,...
1326649,i loved the way of learning and how this cours...,By ÔøΩÔøΩÔøΩÔøΩ ÔøΩ ÔøΩ,"Jan 19, 2020",5,strategic-management,"strategic-management By ÔøΩÔøΩÔøΩÔøΩ ÔøΩ ÔøΩ Jan 19, 2020 ..."
1326624,i loved the way of learning and how this cours...,By ÔøΩÔøΩÔøΩÔøΩ ÔøΩ ÔøΩ,"Jan 19, 2020",5,strategic-management,"strategic-management By ÔøΩÔøΩÔøΩÔøΩ ÔøΩ ÔøΩ Jan 19, 2020 ..."
264422,thanks providing this excellent course these ...,By üêª ÔøΩ,"Aug 22, 2020",5,learning-how-to-learn,"learning-how-to-learn By üêª ÔøΩ Aug 22, 2020 than..."
264447,thanks providing this excellent course these ...,By üêª ÔøΩ,"Aug 22, 2020",5,learning-how-to-learn,"learning-how-to-learn By üêª ÔøΩ Aug 22, 2020 than..."
264397,thanks providing this excellent course these ...,By üêª ÔøΩ,"Aug 22, 2020",5,learning-how-to-learn,"learning-how-to-learn By üêª ÔøΩ Aug 22, 2020 than..."

In [25]:
coursera_rewdf.drop_duplicates(subset=["concatenated_col"], keep='first', inplace=True)

In [26]:
coursera_rewdf.drop('concatenated_col', axis=1, inplace=True)

Pasamos la columna 'date_reviews' a formato datetime

In [27]:
coursera_rewdf['date_reviews'] = pd.to_datetime(coursera_rewdf['date_reviews'])

Para finalizar exportamos la tabla en formato csv para luego ser importada a Power Bi

In [28]:
coursera_rewdf.to_csv('DATASETS\_ETL_COUSERA_REVIEWS.csv',index=False,sep='|')

### EDX

In [29]:
edx_df.head(2)

,title,summary,n_enrolled,course_type,institution,instructors,Level,subject,language,subtitles,course_effort,course_length,price,course_description,course_syllabus,course_url
0,How to Learn Online,Learn essential strategies for successful onli...,"124,980",Self-paced on your time,edX,Nina Huntemann-Robyn Belair-Ben Piscopo,Introductory,Education & Teacher Training,English,English,2‚Äì3 hours per week,2 Weeks,FREE-Add a Verified Certificate for $49 USD,"Designed for those who are new to elearning, t...",Welcome - We start with opportunities to meet ...,https://www.edx.org/course/how-to-learn-online
1,Programming for Everybody (Getting Started wit...,"This course is a ""no prerequisite"" introductio...","293,864",Self-paced on your time,The University of Michigan,Charles Severance,Introductory,Computer Science,English,English,2‚Äì4 hours per week,7 Weeks,FREE-Add a Verified Certificate for $49 USD,This course aims to teach everyone the basics ...,NaN,https://www.edx.org/course/programming-for-eve...

In [30]:
edx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975 entries, 0 to 974
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               975 non-null    object
 1   summary             922 non-null    object
 2   n_enrolled          855 non-null    object
 3   course_type         975 non-null    object
 4   institution         975 non-null    object
 5   instructors         972 non-null    object
 6   Level               975 non-null    object
 7   subject             975 non-null    object
 8   language            975 non-null    object
 9   subtitles           972 non-null    object
 10  course_effort       975 non-null    object
 11  course_length       975 non-null    object
 12  price               975 non-null    object
 13  course_description  935 non-null    object
 14  course_syllabus     417 non-null    object
 15  course_url          975 non-null    object
dtypes: object(16)
memory usage: 122.0+ KB

In [31]:
(edx_df.isnull().sum().sort_values(ascending=False))

course_syllabus       558
n_enrolled            120
summary                53
course_description     40
instructors             3
subtitles               3
title                   0
course_type             0
institution             0
Level                   0
subject                 0
language                0
course_effort           0
course_length           0
price                   0
course_url              0
dtype: int64

Eliminamos la columna 'course_syllabus','course_url' e 'instructors' ya que no aportara informacion de valor al analisis

In [32]:
edx_df.drop(['course_syllabus','instructors','course_url','course_description','summary'], axis=1, inplace=True)

Se identificaron que hay columnas que tienen informacion complemntaria a los datos faltantes, por ejemplo 'summary' conforme a su descripcion en el diccionario es similar a 'course_description', 'subtitles' se puede complementar con 'language', mientras que 'n_enrolled' al ser una variable numerica se puede llenar con 0 ser eliminada

In [33]:
edx_df['subtitles'].fillna(edx_df['language'], inplace=True)
edx_df['n_enrolled'].fillna(0, inplace=True)

Revisamos Valores Duplicados

In [35]:
edx_df[edx_df['title'].duplicated(keep=False)].sort_values(by='title')

,title,n_enrolled,course_type,institution,Level,subject,language,subtitles,course_effort,course_length,price
161,Introduction to Marketing,"169,126",Self-paced on your time,University of British Columbia,Introductory,Business & Management,English,English,3‚Äì5 hours per week,6 Weeks,FREE-Add a Verified Certificate for $150 USD
561,Introduction to Marketing,0,Self-paced on your time,The University of Edinburgh,Introductory,Business & Management,English,English,2‚Äì3 hours per week,6 Weeks,FREE-Add a Verified Certificate for $149 USD
59,Introduction to Probability,"97,291",Self-paced on your time,Harvard University,Intermediate,Data Analysis & Statistics,English,English,5‚Äì10 hours per week,10 Weeks,FREE-Add a Verified Certificate for $99 USD
95,Introduction to Probability,"97,291",Self-paced on your time,Harvard University,Intermediate,Data Analysis & Statistics,English,English,5‚Äì10 hours per week,10 Weeks,FREE-Add a Verified Certificate for $99 USD
159,Marketing Management,"80,010",Self-paced on your time,Indian Institute of Management Bangalore,Intermediate,Business & Management,English,"English, ‡§π‡§ø‡§®‡•ç‡§¶‡•Ä",2‚Äì4 hours per week,9 Weeks,FREE-Add a Verified Certificate for $150 USD
388,Marketing Management,"43,415",Instructor-led on a course schedule,"The University of Maryland, College Park-Unive...",Advanced,Business & Management,English,English,8‚Äì10 hours per week,7 Weeks,FREE-Add a Verified Certificate for $214 USD

In [36]:
edx_df.drop(95, axis=0, inplace=True)

üëÜ como se ve los cursos de 'Introduction to Marketing' y 'Marketing Management' pece a que estan repetidas sin de instituciones diferentes con numeros de estudiantes inscritos diferentes, por lo tanto solo se eliminara el registro del curso 'Introduction to Probability' el cual si tiene sus registros duplicados en todas las columnas

üëá En la columnas Price creare una funcion para extraer el costo del curso, si bien todos dicen 'FREE-Add' el costos del curso con certificado si se tiene informacion

In [37]:
def extract_price(text):
    match = re.search(r'\$(\d+)', text)
    if match:
        return int(match.group(1))
    else:
        return None

In [38]:
edx_df['price'] = edx_df['price'].apply(extract_price)

üëá En la columnas 'course_length' creare una funcion para extraer las semana solo en numero

In [39]:
def extract_weeks(course_length):
    # Buscar el n√∫mero de semanas usando expresiones regulares
    pattern = r'(\d+)\s+Weeks'  # Patr√≥n para buscar un n√∫mero seguido de 'Weeks'
    match = re.search(pattern, course_length)
    
    if match:
        # Extraer el n√∫mero de semanas encontrado
        weeks = int(match.group(1))
        return weeks
    else:
        return None

In [40]:
edx_df['course_length'] = edx_df['course_length'].apply(extract_weeks)

üëá En la columnas 'n_enrolled' reprenta un valor de miles de estudiantes separados por la coma por lo cual eliminare la coma ',' para convertir esta columna de tipo Object a tipo int64.

In [41]:
edx_df['n_enrolled'] = edx_df['n_enrolled'].str.replace(',', '')

# Reemplazar valores nulos por 0
edx_df['n_enrolled'] = edx_df['n_enrolled'].fillna('0')

# Convertir la columna en tipo int64
edx_df['n_enrolled'] = edx_df['n_enrolled'].astype('int64')

üëá Exportamos el dataset para luego procesarlo en Power Bi

In [42]:
edx_df.head(5)

,title,n_enrolled,course_type,institution,Level,subject,language,subtitles,course_effort,course_length,price
0,How to Learn Online,124980,Self-paced on your time,edX,Introductory,Education & Teacher Training,English,English,2‚Äì3 hours per week,2,49
1,Programming for Everybody (Getting Started wit...,293864,Self-paced on your time,The University of Michigan,Introductory,Computer Science,English,English,2‚Äì4 hours per week,7,49
2,CS50's Introduction to Computer Science,2442271,Self-paced on your time,Harvard University,Introductory,Computer Science,English,English,6‚Äì18 hours per week,12,90
3,The Analytics Edge,129555,Instructor-led on a course schedule,Massachusetts Institute of Technology,Intermediate,Data Analysis & Statistics,English,English,10‚Äì15 hours per week,13,199
4,Marketing Analytics: Marketing Measurement Str...,81140,Self-paced on your time,"University of California, Berkeley",Introductory,Computer Science,English,English,5‚Äì7 hours per week,4,249

In [44]:
edx_df.to_csv('DATASETS\_ETL_EDX.csv',index=False,sep='|')

### Udemy

In [ ]:
udemy_df.info()

In [ ]:
udemy_df.head(2)

üëá Revisamos Valores Duplicados filtrados por el Id y procedemos a eliminar los registros conservando el primero

In [ ]:
udemy_df[udemy_df['course_id'].duplicated(keep=False)].sort_values(by='course_id')

In [ ]:
udemy_df.drop_duplicates(subset=['course_id'], keep='first',inplace=True)

üëá La columna 'published_timestamp' considero que tiene informacion valiosa de la cual se puede extraer la fecha de publicacion, por lo cual se crea un funcion para extraer la fecha cambiando el nombre de esta columna por 'date_published'

In [ ]:
def extraer_fecha(df, columna):
    df[columna] = pd.to_datetime(df[columna])
    df[columna] = df[columna].dt.date

In [ ]:
extraer_fecha(udemy_df, 'published_timestamp')

In [ ]:
udemy_df = udemy_df.rename(columns={'published_timestamp': 'date_published'})

üëá Eliminamos la columna 'url' ya que no nos aportara infomacion de valor en el analisis de Power Bi

In [ ]:
udemy_df.drop(['url'], axis=1, inplace=True)

üí° Analizando el dataset de Udemy identificamos que no tiene la columna 'Lenguages' el cual consideramos un dato importante usaremos la funcion anteriormente creada para identificarlo

In [ ]:
udemy_df['language']=udemy_df['course_title'].apply(detectar_idioma)

üëá convertimos la columna 'date_published' que esta de tipo Object a tipo Date

In [ ]:
udemy_df['date_published'] = pd.to_datetime(udemy_df['date_published'])

üëá Exportamos el dataset para luego procesarlo en Power Bi

In [ ]:
udemy_df.head(2)

In [ ]:
udemy_df.to_csv('DATASETS\_UDEMY_EDX.csv',index=False,sep='|')

-------------

# Sesion Info

In [ ]:
session_info.show()